<template>
  <div>
    <h1 class="mt-4">
      Technology used
    </h1>
    <p>Powered by:</p>
    <ul>
      <li> Template by <a href="https://get.asp.net/">Trilon.io</a></li>
      <li> Using <a href="https://get.asp.net/"><icon :icon="['fab', 'microsoft']" /> ASP.NET Core </a>and <a href="https://get.asp.net/">C#</a> for server-side code</li>
      <li><a href="https://vuejs.org/"><icon :icon="['fab', 'vuejs']" /> Vue.js</a> for client-side code</li>
      <li><a href="https://webpack.js.org/">Cytoscape</a> for graph display and manipulation</li>
    </ul>
    <strong>To start, click the <a href="">Graph</a> menu!</strong>
    <br />
    <strong>For help, head out to the <a href="">Help</a> section!</strong>

  </div>
</template>

<script>
export default {
  data () {
    return {}
  }
}
</script>

<style>

</style>
