<template>
  <div>
    <h1 class="mt-4">
      CozyIndependencies
    </h1>

    <br />

    <strong>
      Create your own, personal graph with ease!
    </strong>
    <br><br>
    Functionality includes:
    <ul>
      <li>Highly advanced graph editor, thanks to <a href="https://js.cytoscape.org/">Cytoscape</a></li>
      <li>Changing aesthetic freely</li>
      <li>Use accurate algorithms to solve problems</li>
      <li>Supports mobile devices</li>
      <li>And much more!</li>
    </ul>
    <h4 class="mt-4">
      Technology used:
    </h4>
    <ul>
      <li> Template by <a href="https://get.asp.net/">Trilon.io</a></li>
      <li> Using <a href="https://get.asp.net/"><icon :icon="['fab', 'microsoft']" /> ASP.NET Core </a>and <a href="https://get.asp.net/">C#</a> for server-side code</li>
      <li><a href="https://vuejs.org/"><icon :icon="['fab', 'vuejs']" /> Vue.js</a> for client-side code</li>
      <li><a href="https://webpack.js.org/">Cytoscape</a> for graph display and manipulation</li>
    </ul>
    <strong>To start, click the <a href="">Graph</a> menu!</strong>
    <br />
    <strong>For help, head out to the <a href="">Help</a> section!</strong>
    <br/><br/><br/>
    <strong>Made by Paweł Lipski </strong><br/>
    <a href=""><icon icon="envelope" /> paw.lip.97@wp.pl</a>
    <h4 class="mt-5">Additional links:</h4>
    <strong>Github: <a href="https://gitlab.com/PuzioPL/cytoscape-vue" target="_blank">@PawLip</a></strong>

    <br><br><br>
  </div>
</template>

<script>
export default {
  data () {
    return {}
  }
}
</script>

<style>

</style>
